@{
  Layout = "_Layout";
}

@model Sweet.Models.Flavor

<h4>Add a new Flavor</h4>

@using (Html.BeginForm())
{
    @Html.Label("Flavor Name")
    @Html.TextBoxFor(model => model.FlavorName)

    @Html.Label("Select Treat")
    @Html.DropDownList("TreatId", "Select")

    <input type="submit" value="Add new Flavor" class="btn btn-default" />
}
<p>@Html.ActionLink("Show all flavors", "Index")</p>