@model CreateRoleViewModel

@{
  ViewBag.Title = "Create New Role";
}
<h1>Create New Role<h1>

<div class = "row">
  <div class = "col-md-12">
    <form method = "post">
      <div asp-validation-summary="All" class="text-danger"></div>
      <div class="form-group">
        <label asp-for="RoleName"></label>
        <input asp-for="RoleName" class="form-control" />
        <span asp-validation-for="Rol" class="text-danger"></span>  
      </div>
      <button type = "submit" class="btn btn-default"> Make New Role</button>
    </form>
  </div>
</div>
       
@using (Html.BeginForm("Register", "Account", FormMethod.Post))
{
    @Html.LabelFor(user => user.Email)
    @Html.TextBoxFor(user=> user.Email)

    @Html.LabelFor(user=> user.Password)
    @Html.PasswordFor(user=> user.Password)

    @Html.LabelFor(user=> user.ConfirmPassword)
    @Html.PasswordFor(user=> user.ConfirmPassword)
  }